h1{
    text-align:center;
    color:lightseagreen;
    font-size:7 rem;
}
h5{
    text-align:center;
    color:lightseagreen;  
    font-size:3 rem;
}
h2{
    color:lightseagreen;
    font-size:6 rem;
}
h3{
    text-align:center;
    color:lightseagreen;  
    font-size:5 rem;
}
h4{
    text-align:center;
    color:lightseagreen;  
    font-size:4 rem;
}
p{
    color:lightseagreen; 
    font-size:2 rem;
}

a{
    justify-content: space-evenly;
    text-decoration: blueviolet;
    color:rgb(4, 90, 90);
    background-color: rgb(211, 212, 222);
    padding: .5rem 1rem;
}
html{
    height:100%;
}
body{
    background-image: linear-gradient(to top,rgb(186, 223, 238) 0%,rgb(239, 243, 244) 100%);
    min-height: 100%;
}
footer{
    font-size: .5rem;
}